<!DOCTYPE html>
<html lang="en">

 	<head>
 		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta name="frontend-author" content="Kamran Mubarik">
        <meta name="backend-author", content="Nceba Mandizvidza">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title -->
        {% block title %}
 		<title>Create an E-Commerce Website using HTML, CSS and JS</title>
        {% endblock %}
 		<!-- Style Sheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/css/style.css')}}" />
 	</head>
<body>
    {% block body %}

	<footer>
    {% block footer %}
		<div class="container">
			<div class="footer-bar">
				<div class="copyright-text">
					<p>Copryright 2020 - All Rights Reserved</p>
				</div>
			</div> <!-- Footer Bar -->
		</div>
    {% endblock %}
	</footer> <!-- Footer Area -->
{% endblock %}
</body>

</html>